<h1 class="file-heading">File: {{fileName}}</h1>
<p>You may view this code on github <a href="https://github.com/Temasys/SkylinkJS/blob/master/{{fileName}}">master branch</a> or on <a href="https://github.com/Temasys/SkylinkJS/blob/development/{{fileName}}">the current development branch</a>.</p>

<div class="file">
    <pre class="code prettyprint linenums">
{{fileData}}
    </pre>
</div>
