<!--{{#if support}}
  <div class="panel-body">
    <p>lol</p>
  </div>
{{else}}
  <div class="panel-body table-responsive table-browsers">
    <table class="table table-condensed">
      <thead>
        <tr> 
          <th> Supported browsers </th>
          <th> <img src="../assets/img/icons/chrome.png"> Chrome </th>
          <th> <img src="../assets/img/icons/firefox.png"> Firefox </th>
          <th> <img src="../assets/img/icons/opera.png"> Opera </th>
          <th> <img src="../assets/img/icons/safari.png"> Safari (plugin) </th>
          <th> <img src="../assets/img/icons/ie.png"> IE (plugin) </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td> 35+ </td>
          <td> 30+ </td>
          <td> 21+ </td>
          <td> 7+ </td>
          <td> 11+ </td>
        </tr>
      </tbody>
    </table>
  </div>
{{/if}}-->